html {
	height: 100%;
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	height: 100%;
	font: 300 16px/24px 'helvetica neue', helvetica, sans-serif;
}

h2 {
	margin: 0;
	font-size: 24px;
	line-height: 48px;
	font-weight: 300;
}

nav {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	ul ul {
		display: none;
	}
	li:hover ul {
		display: block;
	}
}

form {
	fieldset {
		margin: 24px 0 0;
		padding: 0;
		border: 0;
		&:first-child {
			margin-top: 0;
		}
	}
	legend {
		margin: 0 0 6px;
		font-weight: 400;
	}
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	li {
		margin: 6px 0 0;
		&:first-child {
			margin-top: 0;
		}
	}
	label {
		display: inline-block;
		width: 250px;
		vertical-align: top;
	}
	input, select, textarea {
		width: 400px;
		padding: 6px 9px;
		border: 1px solid #ccc;
		border-radius: 2px;
		background: #fff;
	}
	input[type=submit] {
		width: auto;
		margin: 12px 0 0;
		padding: 6px 24px;
	}
}

.module-header {
	overflow: hidden;
	height: 48px;
	margin: 24px 0;
	h2 {
		float: left;
	}
	.actions {
		float: left;
		margin: 0 0 0 24px;
		padding: 0;
		list-style: none;
		line-height: 56px;
	}
}

.item-list {
	width: 100%;
	line-height: 32px;
	th {
		padding: 0 12px;
		text-align: left;
	}
	td {
		padding: 0 12px;
	}
	th:first-child, td:first-child {
		width: 24px;
		padding-right: 0;
	}
	tbody {
		tr {
			border-top: 1px solid #ccc;
		}
		tr:nth-child(odd) {
			background: #fafafa;
		}
	}
	.actions {
		padding: 0 12px 0 0;
		text-align: right;
	}
}
