html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

html, body {
	height: 100%;
}

nav {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	ul ul {
		display: none;
	}
	li:hover ul {
		display: block;
	}
}
