<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Omni</title>
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,500">
		<link rel="stylesheet" href="/css/omni/base.css">
		{% block styles %}{% endblock %}
	</head>

	<body>
		<header class="main-header">
			<div class="wrap">
				<nav class="main-nav">
					<ul>
						<li>
							<span>Administration</span>
							<ul>
								<li><a href="/roles/">Roles</a></li>
								<li><a href="/users/">Users</a></li>
							</ul>
						</li>
						<li><a href="/dashboard/">Dashboard</a></li>
						<li><a href="/pages/">Pages</a></li>
					</ul>
				</nav>
				<nav class="user-nav">
					<ul>
						<li><span>{{ user.data.email }}</span></li>
						<li><a href="/logout/">Log out</a></li>
					</ul>
				</nav>
			</div>
		</header>
		{% block content %}{% endblock %}
		<script src="/js/common.js"></script>
		{% block scripts %}{% endblock %}
		<script src="/js/omni/index.js"></script>
	</body>
</html>
