<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ manifest.name }} &middot; Omni</title>
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,500|Ubuntu:300,400,700">
		<link rel="stylesheet" href="/css/omni/index.css">
		{% block styles %}{% endblock %}
	</head>

	<body>
		<header class="main-header">
			<div class="wrap">
				<h1 class="main-logo"><a href="/dashboard/">Omni</a></h1>
				<nav class="main-nav">
					{{ navigation|render_nav }}
				</nav>
				<nav class="user-nav">
					<ul>
						<li><span>{{ user.data.email }}</span></li>
						<li><a href="/logout/">Log out</a></li>
					</ul>
				</nav>
			</div>
		</header>
		{% block content %}{% endblock %}
		<script src="/js/common.js"></script>
		{% block scripts %}{% endblock %}
		<script src="/js/omni/index.js"></script>
	</body>
</html>
