{% extends "./default.html" %}

{% block content %}
<div class="wrap">
	<header class="module-header">
		<h2>{{ manifest.name|capitalize }}</h2>
		<nav class="btn-group">
			<a class="btn btn-small" href="/{{ manifest.slug }}/">Overview</a>
		</nav>
	</header>

	<form method="post" action="{{ action }}" class="form-wrap" data-form data-scols='{"fromTop":48}'>
		<div class="form-main" data-scols-col>
			<script type="application/json" data-informal-spec>{{ manifest.form|json|safe }}</script>
			<script type="application/json" data-informal-data>{{ formData|json|safe }}</script>
		</div>
		<div class="form-options" data-scols-col>
			<footer class="form-footer">
				<input type="submit" value="Save" class="btn btn-primary">
			</footer>
		</div>
	</form>
</div>
{% endblock %}
