{% extends "./default.html" %}

{% block content %}
<div class="wrap">
	<header class="module-header">
		{% if formData %}
			<h2>Edit {{ manifest.unit }}</h2>
		{% else %}
			<h2>Add new {{ manifest.unit }}</h2>
		{% endif %}
		<nav class="btn-group">
			<a class="btn btn-small" href="/{{ manifest.slug }}/">Overview</a>
		</nav>
	</header>

	<form method="post" action="{{ action }}" data-form>
		<script type="application/json" data-informal-spec>{{ manifest.form|json|safe }}</script>
		<script type="application/json" data-informal-data>{{ formData|json|safe }}</script>
		<footer class="form-footer">
			<input type="submit" value="Save" class="btn btn-primary">
		</footer>
	</form>
</div>
{% endblock %}
