{% extends "./default.html" %}

{% block content %}
<div class="wrap">
	<h2>{{ units|capitalize }}</h2>
	<table class="item-list">
		<thead>
			<tr>
				<th><input type="checkbox"></th>
				{% for field in listSpec.fields %}
					<th>{{ field.label }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for item in items %}
				<tr>
					<td><input type="checkbox"></td>
					{% for field in listSpec.fields %}
						<td>{{ item[field.name] }}</td>
					{% endfor %}
				</tr>
			{% endfor %}
			{% if !items.length %}
				<tr class="empty-set">
					<td colspan="{{ listSpec.fields.length + 1 }}">
						{% if error %}
							{{ error }}
						{% else %}
							No {{ units|lower }} found, would you like to <a href="/{{ mount }}/new/">create one</a>?
						{% endif %}
					</td>
				</tr>
			{% endif %}
		</tbody>
	</table>
</div>
{% endblock %}
