{% extends "./default.html" %}

{% block content %}
<div class="wrap">
	<header class="module-header">
		<h2>{{ manifest.units|capitalize }}</h2>
		<nav class="btn-group">
			<a class="btn btn-small" href="/{{ manifest.slug }}/new/">New</a>
		</nav>
	</header>

	<table class="module-overview" data-overview>
		<thead>
			<tr>
				<th><input type="checkbox"></th>
				{% for field in manifest.listSpec.fields %}
					<th>{{ field.label }}</th>
				{% endfor %}
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for item in items %}
				<tr>
					<td><input type="checkbox"></td>
					{% for field in manifest.listSpec.fields %}
						{% if loop.index == 1 %}
							<td><a href="/{{ manifest.slug }}/edit/{{ item._id.toString() }}/">{{ item[field.name] }}</a></td>
						{% else %}
							<td>{{ item[field.name] }}</td>
						{% endif %}
					{% endfor %}
					<td class="module-overview-actions">
						<a href="/{{ manifest.slug }}/delete/{{ item._id.toString() }}/" data-action="delete">Delete</a>
					</td>
				</tr>
			{% endfor %}
			{% if !items.length %}
				<tr class="empty-set">
					<td colspan="{{ manifest.listSpec.fields.length + 2 }}">
						{% if error %}
							{{ error }}
						{% else %}
							No {{ manifest.units|lower }} found, would you like to <a href="/{{ manifest.slug }}/new/">create one</a>?
						{% endif %}
					</td>
				</tr>
			{% endif %}
		</tbody>
	</table>
</div>
{% endblock %}
