.main-header {
	line-height: 48px;
	border: 1px solid rgba(0, 0, 0, .2);
	@include clearfix();
}

.main-nav, .user-nav {
	ul {
		float: left;
		margin: 0 -15px;
		@include clearfix();
	}
	li {
		position: relative;
		float: left;
		padding: 0 15px;
	}
	ul ul {
		position: absolute;
		top: 100%;
		float: none;
		min-width: 100%;
		margin: 0 0 0 -13px;
		border: 1px solid rgba(0, 0, 0, .2);
		border-top: 0;
		background: #fff;
		line-height: 30px;;
	}
	li li {
		float: none;
		padding: 0;
		a {
			display: block;
			padding: 0 12px;
		}
	}
}

.user-nav {
	ul {
		float: right;
	}
}
