.block {
	margin: 12px 0 0;
	.informal--pages {
		border-radius: 0 0 3px 3px;
	}
	.informal--field {
		padding: 0 0 12px;
		border-top: 0;
		&:first-child {
			padding-top: 12px;
		}
	}
	.block--header {
		padding: 6px 12px;
		border: 1px solid #ccc;
		border-bottom: 0;
		border-radius: 3px 3px 0 0;
		background: #eee;
		cursor: -webkit-grab;
		cursor: -moz-grab;
		cursor: grab;
		@include clearfix();
	}
	.block--title {
		float: left;
		.title-fragment {
			display: none;
			margin: 0 0 0 6px;
			color: #aaa;
		}
		.fragment-content {
			margin: 0 0 0 6px;
		}
	}
	.block--options {
		float: right;
		button {
			display: inline-block;
			width: 24px;
			height: 24px;
			margin: 0 0 0 6px;
			padding: 0;
			border: 0;
			border-radius: 3px;
			text-indent: -999em;
			&:focus {
				outline: 0;
			}
		}
	}
	.block--content {
		border-radius: 0 0 3px 3px;
		background: #fff;
		@include transition(height .4s ease-out);
		label {
			display: block;
			width: auto;
			padding: 0;
		}
		input, select, textarea, .expanding-textarea {
			display: block;
			width: 100%;
		}
	}
	.block--style {
		width: auto;
		padding: 0 24px 0 9px;
		line-height: 22px;
		background-size: 8px 6px;
	}

	.action-minimize {
		background: #f4d26a url(/img/omni/minus.svg) no-repeat center;
		background-size: 60%;
	}
	.action-delete {
		background: #e95050 url(/img/omni/cross.svg) no-repeat center;
		background-size: 60%;
	}

	&.is-minimized {
		.block--header {
			border-bottom: 1px solid #ccc;
			border-radius: 3px;
		}
		.block--title .title-fragment {
			display: inline;
		}
		.block--content {
			display: none;
		}
		.action-minimize {
			background-image: url(/img/omni/plus.svg);
		}
	}
}
