.zone {
	min-height: 200px;
	margin: 0 0 12px;
	padding: 12px;
	background-color: #eff4f6;
	border-radius: 3px;
	@include transition(background-color .2s ease-out);
	:first-child {
		margin-top: 0;
	}
	.builder--placeholder {
		margin: 12px 0 0;
		height: 100px;
		border-radius: 3px;
		background: rgba(#fff, .9);
		&:first-child {
			margin-top: 0;
		}
	}
	&.is-droppable {
		background-color: #cff7e1;
	}
	&.is-not-droppable {
		background-color: lighten(#ce494c, 30);
	}
	&.dragover-droppable {
		background-color: green;
	}
	&.dragover-not-droppable {
		background-color: #ce494c;
	}
}
