@import 'vendor/bourbon/bourbon';

@import 'block';
@import 'zone';

.builder {
	position: relative;
	@include clearfix();
	.builder--footer {
		clear: both;
	}
	.builder--template {
		overflow: hidden;
		margin: 0 150px 0 0;
		padding: 0 12px 0 0;
	}
	.builder--empty-layout {
		padding: 88px 12px;
		background: #eee;
		border-radius: 3px;
		color: #bbb;
		font-size: 26px;
		text-align: center;
		text-shadow: rgba(#fff, .8) 1px 1px;
	}
	.builder--block-types {
		position: absolute;
		top: 12px;
		right: 0;
		width: 150px;
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}
		li {
			position: relative;
			margin: 0 0 12px;
			padding: 6px 12px;
			background: #eee;
			border-radius: 3px;
			cursor: -webkit-grab;
			cursor: -moz-grab;
			cursor: grab;
			&.is-disabled {
				display: none;
			}
		}
		.block-description {
			display: none;
			position: absolute;
			top: 0;
			right: 100%;
			margin: 0 6px 0 0;
			padding: 6px 12px;
			background: rgba(#000, .7);
			border-radius: 3px;
			color: #fff;
			white-space: nowrap;
			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: 100%;
				margin: -6px 0 0 0;
				border: 6px solid transparent;
				border-left-color: rgba(#000, .7);
			}
		}
		li:hover .block-description {
			display: block;
		}
	}

	.template--single-column {
		.zone-main {
			padding: 0;
		}
	}

	.template--menu-left {
		clear: both;
		.zone-content {
			float: left;
			width: 60%;
			padding: 0 0 0 5px;
		}
		.zone-sidebar {
			float: left;
			width: 40%;
			padding: 0 5px 0 0;
		}
	}
}
