html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}


body {
	padding: 48px 0 0;
	color: #444;
	font: 300 15px/24px Roboto, 'Helvetica Neue', Helvetica, sans-serif;
	text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: 300;
	line-height: 48px;
}

h2 {
	font-size: 21px;
}

a {
	color: var(--blue);
	transition: color .4s var(--easing);

	&:hover {
		color: color(var(--blue) lightness(40%))
	}
}

input, select, textarea {
	padding: 9px 12px;
	border: 1px solid #ccc;
	border-radius: 3px;
	background: #fff;
	font: inherit;
	line-height: 24px;
	transition: border-color .4s var(--easing), box-shadow .4s var(--easing);

	&:focus {
		outline: 0;
		border-color: var(--blue);
		box-shadow: 0 0 5px rgba(var(--blue), .6);
	}
}

input[type='checkbox'] {
	width: 16px;
	height: 16px;
	border-radius: 2px;
	background: #fff;
	box-shadow: inset 0 0 0 2px #fff;
	cursor: pointer;
	transition: background-color .4s var(--easing);
	-webkit-appearance: none;

	&:checked {
		background-color: #ccc;
	}

	&:focus {
		box-shadow: 0 0 5px rgba(var(--blue), .6), inset 0 0 0 2px #fff;

		&:checked {
			background-color: var(--blue);
		}
	}
}

select {
	option {
		padding: 3px 6px;
		font: inherit;
	}

	&[multiple] {
		padding-left: 6px;
		padding-right: 6px;
	}

	&:not([multiple]) {
		-webkit-appearance: none;
		background: url(/img/omni/caret.svg) no-repeat calc(100% - 12px) 20px / 12px auto;
	}
}

textarea {
	min-height: calc(24px * 4 + 20);
}
