.btn {
	display: inline-block;
	position: relative;
	padding: 0 24px;
	border: 0;
	border-radius: 3px;
	border: 2px solid #aaa;
	background: #fff no-repeat calc(100% - 6px) center / auto 24px;
	color: #aaa;
	cursor: pointer;
	font-family: Ubuntu;
	font-size: 11px;
	font-weight: 400;
	line-height: 36px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;

	&:focus {
		outline: 0;
		box-shadow: 0 0 5px rgba(#ccc, .6);
		transition: box-shadow .4s var(--easing);
	}

	&:hover {
		background-color: #aaa;
		color: #fff;
		transition: background-color .4s var(--easing), border-color .4s var(--easing), color .4s var(--easing);
	}

	&[disabled] {
		opacity: .5;
		pointer-events: none;
		transition: opacity .4s var(--easing);
	}

	&.is-pending {
		padding-right: 48px;
		background-image: url(/img/omni/pending.svg);
		transition: padding .4s var(--easing);
	}

	&-small {
		padding: 0 12px;
		border-width: 1px;
		font-size: 9px;
		line-height: 24px;
	}

	&-primary {
		border-color: var(--blue);
		color: var(--blue);

		&:focus {
			border-color: var(--blue);
			box-shadow: 0 0 5px rgba(var(--blue), .6);
		}

		&:hover {
			background-color: var(--blue);
			color: #fff;
		}

		&[disabled]:hover {
			background-color: #fff;
			color: var(--blue);
		}
	}
}
