@keyframes loginFadeIn {
	from {
		opacity: 0;
		transform: translateY(-3px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

input[type='checkbox'] {
	display: block;
	width: 14px;
	height: 14px;
	border: 1px solid var(--blue);
	border-radius: 2px;
	background: #fff;
	box-shadow: inset 0 0 0 1px #fff;
	cursor: pointer;
	transition: background-color .4s var(--easing);
	-webkit-appearance: none;

	&:checked {
		background-color: var(--blue);
	}

	&:focus {
		outline: 0;
	}
}

.form {
	&-wrap {
		position: relative;
	}

	&-main {
		position: absolute;
		top: 0;
		left: 0;
		right: 324px;
		padding: 24px 0;
	}

	&-options {
		position: absolute;
		top: 0;
		right: 0;
		width: 300px;
		padding: 24px 0;

		> div {
			margin-top: 24px;

			&:first-child {
				margin-top: 0;
			}
		}
	}

	&-login {
		max-width: 300px;
		margin: 150px auto 0;
		opacity: 0;
		animation: loginFadeIn .5s ease-out .25s forwards;

		.logo {
			font-size: 36px;
			text-align: center;
		}

		.btn {
			display: block;
			width: 100%;
			margin-top: 24px
		}

		&-body {
			padding: 20px;
			background: #fafafa;
			border-radius: 6px;
		}

		&-footer {
			color: #aaa;
			font-size: 12px;
			text-align: center;
		}
	}
}

.informal {
	&-tab {
		display: none;

		&.is-shown {
			display: block;
		}
	}

	&-field {
		margin: 24px -10px 0;
		padding: 0 10px;

		label {
			display: block;
			padding: 0 6px;

			button {
				margin: 0 0 0 12px;
				padding: 0;
				background: transparent;
				border: 0;
				color: #66afe9;

				&:focus {
					outline: 0;
					text-decoration: underline;
				}
			}
		}

		&:first-child {
			margin-top: 0;
		}
	}

	&-input {
		display: flex;
		width: 100%;

		input, select {
			flex-grow: 1;
			width: 100%;
			padding: 9px 12px;
			border: 1px solid #ccc;
			border-radius: 3px;
			background: #fff;
			font: inherit;
			transition: border-color .4s var(--easing), box-shadow .4s var(--easing);

			&:focus {
				outline: 0;
				border-color: var(--blue);
				box-shadow: 0 0 5px rgba(var(--blue), .6);
			}
		}

		select {
			option {
				padding: 3px 6px;
				font: inherit;
			}

			&[multiple] {
				padding-left: 6px;
				padding-right: 6px;
			}
		}
	}

}

