.informal {
	&__input {
		.btn {
			border-width: 1px;
			border-radius: 0;
		}

		> :not(:first-child) {
			border-right-width: 1px;
		}

		> :not(:last-child) {
			border-left-width: 1px;
		}

		> :first-child {
			border-left-width: 1px;
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
		}

		> :last-child {
			border-right-width: 1px;
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
		}
	}

	&__label button {
		margin: 0 0 0 12px;
		padding: 0;
		background: transparent;
		border: 0;
		color: var(--blue);

		&:active {
			text-decoration: underline;
		}

		&:focus {
			outline: 0;
		}
	}
}
