.module-overview {
	width: 100%;
	line-height: 48px;

	th {
		border-bottom: 1px solid #ccc;
		font-weight: 400;
		text-align: left;
	}

	td {
		border-bottom: 1px solid #eee;
	}

	th, td {
		padding: 0 12px;

		&:first-child {
			width: 38px;
		}
	}

	&-actions {
		padding: 0 12px 0 0;
		text-align: right;
	}

	tbody {
		tr:nth-child(odd) td {
			background: #fafafa;
		}

		tr:nth-child(even) td {
			background: #fff;
		}
	}
}
